<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio_/css/about.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Michael Kirkaldy</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/work">Work</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
				<a href="static/portfolio_/documents/Resume19.pdf" download="Michael-resume">Resume</a>
			</nav>
		</div>
		<div class="body">
			<div class="textbox">
				<h1>It's a pleasure to meet you!</h1>
				<p>I'm a mission driven full-stack developer living and coding in Chicago but relocating to New York City. Seeking challenges has always given me thrill and my passion for learning has always helped me expand my horizons. Coming from parents who are engineers, idealogies such as strong communication, logic, troubleshooting and problem solving are my sword and shield. My career has mostly been in logistics and visual arts but becoming a developer has always been a long-term goal of mine. My love for programming has become unequivocal and working on a team with passionate developers, I strongly believe I will be prove to be impactful!</p>
				<br>
			</div>
			<div class="box">
				<div class="tech">
					<h2 class="skillset">My skillset includes:</h2>
					<p class="skill">Python & Javascript</p>
					<p class="skill">HTML5/CSS3</p>
					<p class="skill">Django/Flask/Angular</p>
					<p class="skill">MySql/MongoDB</p>
					<p class="skill">Git</p>
					<p class="skill">Object Oriented Programming</p>
					<p class="skill">Responsive Web Design</p>
					<p class="skill">Adobe Photoshop & Premier Pro</p>
				</div>
			</div>
			<img class="planet planet-one" src="static/portfolio_/images/blueplanet.png">
			<img class="planet planet-two" src="static/portfolio_/images/grayplanet.png">
		</div>
	</div>
	<div class="footer">
		<div class="media">
			<h2>Contact</h2>
			<a href="https://www.linkedin.com/in/michael-kirkaldy-a0854289/"><i class="fab fa-linkedin-in fa-2x"></i></a>
			<a href="https://github.com/MichaelKirkaldyV"><i class="fab fa-github fa-2x"></i></a>
			<a href="mailto:vmichaelkirkaldy@live.com"><i class="far fa-envelope fa-2x"></i></a>
			<a href="https://twitter.com/MacrossPlus"><i class="fab fa-twitter-square fa-2x"></i></a>
			<a href="https://www.instagram.com/wonderweisss/?hl=en"><i class="fab fa-instagram fa-2x"></i></a>
		</div>
	</div>
</body>
</html>