<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'portfolio_/css/contact.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Michael Kirkaldy</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/work">Work</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
			</nav>
		</div>
		<div class="body">
			<form action="form_process" method=post>
				{% csrf_token %}
				<input type="text" name="name" placeholder="Name">
				<input type="text" name="company" placeholder="company">
				<input type="text" name="email" placeholder="Email">
				<input type="text" name="phone" placeholder="Phone">
				<input type="text" name="subject" placeholder="Subject">
				<textarea placeholder="Message"></textarea>
				<input type="submit" name="submit">
			</form>
			<div class="thank-you">
				<h1>Thank you for stopping by!</h1> 
				<br>
				<h1>It was a pleasure having you! If you have an questions please fill out the form and I'll be in contact with you.</h1>
			</div>			
		</div>
		<div class="footer">
			<div class="profile">
				<img src="static/portfolio_/images/profilepic.png">
				<div class="text">
					<p class="footer-text">Michael is equal parts creative and intellectual seeking position as a junior web developer in NYC, fluent in Python and Javascript.</p>
				</div>
			</div>
			<div class="media">
				<h2>Contact</h2>
				<i class="fab fa-linkedin-in fa-2x"><a href="https://www.linkedin.com/in/michael-kirkaldy-a0854289/"></a></i>
				<i class="fab fa-twitter-square fa-2x"><a href="https://twitter.com/MacrossPlus"></a></i>
				<i class="far fa-envelope fa-2x"></i>
				<i class="fab fa-instagram fa-2x"><a href="https://www.instagram.com/wonderweisss/?hl=en"></a></i>
				<i class="fab fa-github fa-2x"></i><a href="https://github.com/MichaelKirkaldyV"></a>
			</div>
		</div>
	</div>
</body>
</html>