* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

.container {
	height: 100vh;
	width: 100%;
	background-image: url('../images/deepspace3.jpg');
	background-size: cover;
}

.header {
	height: 60px;
	width: 100%;
	background-color: #161616;

}
.header h1 {
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
	color: white;
	font-size: 40px;
	font-family: 'miso', sans-serif;
	kerning: 10px;
}

nav {
	display: inline-block;
	margin-left: 1260px;

}

nav a {
	margin-left: 20px;
	text-decoration: none;
	color: white;
	font-family: 'miso', sans-serif;
	font-size: 25px;

}

/*-------------------------BODY--------------------------*/

.success {
	display: block;
	height: 53px;
	font-size: 50px;
	font-family: 'miso', sans-serif;
	margin-top: 235px;
	padding: 52px;
	color: white;
	background-color: green;
}


/*-------------------------FOOTER--------------------------*/

.footer {
	height: 116px;
	width: 100%;
	background-color: #161616;
	text-align: center;	
    margin-top: 401px;
	background-color: #161616;
}


.profile {
	width: 315px;
	height: 150px;
	display: inline-block;
	margin-left: 30px;
}

.footer-summary {
	font-size: 17px;
	font-family: 'miso', sans-serif;
	margin-left: 145px;
	margin-top: 25px;
	color: #e6e6e6;
}

i {
	display: inline-block;
	width: 100px;
	color: white;
	margin-left: -50px;
	cursor: pointer;
}
.fa-linkedin-in {
	margin-left: 50px;
}

h2 {
	color: #e6e6e6;
	font-family: 'miso', sans-serif;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 50px;
}

.media {
	height: 100px;
	width: 375px;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (min-width: 760px) and (max-width: 1444px){

	.container {
		width: 100%;
		height: 100%;
	}

	.header {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	nav {
		display: block;
		margin: 0;
		margin-top: 20px;
		text-align: center;

	}

/*------------------------BODY-------------------------*/

	.body {
		width: 100%;
		height: 100%;
	}

/*------------------FOOTER--------------------------*/

	.profile {
		width: 315px;
		margin: 0 auto;
	}

	.media {
		height: 104px;
		width: 375px;
		display: inline-block;
		vertical-align: top;

	}

	i {
		display: inline-block;
		width: 100px;
		color: white;
		margin-left: -50px;
		cursor: pointer;
	}

	.footer {
		height: 100%;
		width: 100%;
		margin-top: 357px;
	}
}